{% extends "login_app/base.html"%}
{% load static %}

{% block title %}The Wall{% endblock %}

{% block content %}

{% include "thewall_app/navbar.html" %}
<div class="container">
     <div class="row">
          {% if request.session.user %}
          <div class="card mt-3 mb-3 col-10 mx-auto border-primary">
               <div class="card-header">
                    <h3>
                         Post a new message, {{request.session.user.first_name}}
                    </h3>
               </div>
               <form action="wall/new_message" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                         <textarea class="col-12" name="new_message" id="new_message" required></textarea>
                         <!-- <input class="col-12"  type="text" name="new_message" id="new_message" maxlength="256" height="2" required placeholder="Write your new message"> -->
                         <input type="hidden" name="user_id" value="{{request.session.user.id}}">
                    </div>
                    <div class="card-footer">
                         <div class="row">
                              <div class="col-8">
                                   {% if messages %}
                                   <div class="alert {{request.session.level_message}} alert-dismissible"   role="alert" >
                                        <ul>
                                             {% for message in messages %}
                                                  <li class="col-10"><strong>{{ message }}</strong></li>    
                                             {% endfor %}                   
                                        </ul>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                   </div>
                              {% endif %}    

                              </div>
                              <div class="col-2"></div>
                              <input class="btn-primary col-2" type="submit" value="Post a new message">
                         </div>
                    </div>
               </form>
          </div>
          {% endif %}
          {% for m in msg %}
          <div class="card mt-3 mb-3 col-12 border-success">
               <div class="card-body">
                    <h3>{{m.user.first_name}} {{m.user.last_name}} dijo el {{m.created_at|date:"M d, Y"}} </h3>
                    <h4> {{m.message}} </h4>
               </div>
               {% if request.session.user %}
                    {% for c in cmm %}
                    {% if c.message.id == m.id %}
                    <div class="card-footer col-10  mx-auto">
                         <h4> {{c.user.first_name}} {{c.user.last_name}} comentó el {{c.created_at|date:"M d, Y"}}  </h4>
                         <!-- <h4> {{c.user.first_name}} {{c.user.last_name}} dijo en {{c.created_at|date:"M d, Y : H:m"}}  </h4> -->
                         <h5> {{c.comment}} </h5>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row  col-12  mx-auto">
                         <div class="card">
                              <div class="card-header mt-3">
                                   Post a new comment,  {{request.session.user.first_name}}
                              </div>
                              <form action="wall/new_comment" method="POST">
                                   {% csrf_token %}
                                   <div class="card-body">
                                        <textarea class="col-12" name="new_comment" id="new_comment" required></textarea>
                                        <!-- <input class="col-12"  type="text" name="new_message" id="new_message" maxlength="256" height="2" required placeholder="Write your new message"> -->
                                        <input type="hidden" name="user_id" value="{{request.session.user.id}}">
                                        <input type="hidden" name="message_id" value="{{m.id}}">
                                   </div>
                                   <div class="card-footer">
                                        <div class="row">
                                             <div class="col-8">
                                                  {% if messages %}
                                                       <div class="alert {{request.session.level_message}} alert-dismissible"   role="alert" >
                                                            <ul>
                                                                 {% for message in messages %}
                                                                      <li class="col-10"><strong>{{ message }}</strong></li>    
                                                                 {% endfor %}                   
                                                            </ul>
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                       </div>
                                                  {% endif %}    
                                   
                                             </div>
                                             <div class="col-2"></div>
                                             <input class="btn-success col-2" type="submit" value="Post a new comment">
                                        </div>
                                   </div>
                              </form>
                         </div>
                    </div>

               {% endif %}
          </div>
          {% endfor %}
     </div>
</div>

{% endblock %}